/* pages/index.css */

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  
  .logo {
    position: relative;
    width: 200px;
    height: 200px;
  }
  
  .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* styles.css */
  
  #tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  